
.topHeader{
  display: grid;
  grid-template-rows: 80px 40px;
}

.header{
  background-color: rgb(255, 255, 255);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-template-rows: 80px 30px;
  column-gap: 40px;
  height: 110px;
  
  z-index: 5;

  margin-bottom: 20px;
  position: sticky;
  transition: all 0.3s ease-in-out;
}

.logoContainer{
  grid-column: 2 / 3;
  display: grid;
  justify-content: center;
}

.logoText{
  color: black;
  text-align: center;
  width:fit-content;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  font-weight: 100;
  transition: color 0.3s;
}

.logoText:hover{
  cursor: pointer;
  color: rgb(225, 204, 174);
  
}
.headerBannerImg{
  display: inline-block;
  vertical-align: middle;
  line-height: 100px;

  height: 50px;
  
}