.homeContainer{
  height: 840px;
  

}

.homeVideo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
  position:static;
  

}



.vid{
  
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: static;
  z-index: 0;
}

.homeShopButton{
  position: absolute;
  height: 100px;
  width: 300px;
  z-index: 1;
  
  opacity: 35%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: translateY(-50%);
  top: 50%;
  left: 10%;
  
  
  font-size: 16px;
  font-weight: bold;
  mix-blend-mode: screen;

  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
  
}

.homeShopButton:hover{
  background-color: white;
  opacity: 80%;
  

}

.shopButtonText{
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: solid 10px black;
  height: 90px;
  width: 90px;
  border-radius: 100px;

  transition: 0.5s background-color, 1s transform;
  transform: rotate(0deg);
  
  
  
  
}

.shopButtonText:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  transform: rotate(360deg);
  

}



