@font-face {
  font-family: pathway;
  src: url(./fonts/PathwayGothicOne-Regular.ttf);
}


.itemMain{
  
  display: flex;
  justify-content: center;
  
}

.itemContainer{
  
  
  align-self: center;
  display: grid;
  
  grid-template-columns: repeat(2,1fr);
  

  
}

@media (max-width: 880px) {
  .itemContainer{
    
    grid-template-columns: 1fr;
    
  }

  
}
.itemPicturesContainer{
  
  display: grid;
  justify-content: center;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr;
  /* --------------- */
  
  height: 640px;
  width: 440px;
  
  margin: 0 auto;
  
  border-radius: 10px;
  font-size: 0;
}

.picDiv{
  display: flex;
  justify-content: center;
  overflow:hidden;
  grid-column: 2/3; 
}

.itemPicture{
 
 
  height: 600px;
  width: 400px;
  z-index: 1;
  top: 0%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  
}

.itemPrice{
  
  padding-bottom: 20px;

  font-size: 22px;
}





.leftArrow, .rightArrow{
  position: relative;
  height: 40px;
  width: 20px;

  border: none;
  background-color: rgb(254, 225, 157);

  top: 50%;
  transform: translateY(-50%);
  
}

.leftArrow{
  grid-column: 1/2;
  grid-row: 1/2;

  
}

.rightArrow{
  grid-column: 3/4;
  grid-row: 1/2;
  
}
.leftArrow:hover, .rightArrow:hover{
  cursor: pointer;
}





.dotContainer{
  position: absolute;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  width: 50px;
  height: 20px;
  
  top:100%;
  z-index: 2;

  
}

.dot{
  height: 8px;
  width: 6px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: white;
  
}

.dot:hover{
  cursor: pointer;
}

.itemInfo{
  display: flex;
  flex-direction: column;
  font-family: pathway;
  margin-top: 60px;
  width: 440px;
  
  color: rgb(94, 94, 94);
  
}

.itemInfo > div{
  text-align: center;

}

.itemTitle{
  font-size: 34px;
  font-weight: 100;
  padding-bottom: 10px;
  
}

.itemSizeContainer{
  padding-bottom: 20px;
}
.itemSizeContainer > div{
  font-size: 14px;
  padding-bottom: 10px;

}
.itemSizeSelect{
  display: flex;
  height: 24px;
  justify-content: center;
  column-gap: 20px;
}
.size{
  color: rgb(94, 94, 94);
  font-family: pathway;
  border: none;

}

.size:hover{
  cursor: pointer;
}
.selectedColor{
  font-size: 16px;
  padding-bottom: 10px;
}

.addToWish{
  font-weight: 100;
  align-self: center;
  border: none;
  padding-bottom: 20px;
}

.addToWish:hover{
  cursor: pointer;
}

.addToBag{
  opacity: 0.5;
  background-color: rgb(203, 183, 156);
  align-self: center;
  height:50px;
  width: 220px;
  border: none;
  color: rgb(154, 154, 154);

  transition: opacity 0.7s ease-in;
}





.itemColor{
  padding-bottom: 20px;
}




.itemColorSelect{
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  justify-content: center;
}
.colorChoice{
  user-select: none;
  margin-right: 4px;
  height:20px;
  width: 20px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  
  transition: all 0.3s, transform 0.3s;
  transform: rotate(0deg);
  
  
}
.colorChoiceContainer{
  height: 20px;
  width: 20px;
}
.colorChoice:hover{
  cursor: pointer;
}

.itemPicturesContainer img {
  
  transform-origin: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.1s ease-out;
}
.itemPicturesContainer:hover img {
  cursor:crosshair;
}




  






