@font-face {
  font-family: pathway;
  src: url(./fonts/PathwayGothicOne-Regular.ttf);
}


.itemMain{
  
  display: flex;
  justify-content: center;
  
}

.itemContainer{
  
  max-width: 1000px;
  align-self: center;
  display: grid;
  
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;

  
}
.itemPicturesContainer{
  
  display: flex;
  justify-content: center;
  
  grid-column: 1/2;
  height: 600px;
  width: 400px;
  
  margin: 0 auto;
  overflow:hidden;
  border-radius: 10px;
  font-size: 0;
}

.itemPicture{
 
  
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0%;
 
  
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  
}

.itemPrice{
  padding-bottom: 20px;

  font-size: 18px;
}




.containerArrow{
  position: absolute;
  margin-top: 0;
  width: 400px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  top: 45%;
  transform: translateY(-50%);
  

}
.leftArrow, .rightArrow{
  align-self: flex-start;
  height: 20px;
  width: 20px;
  border: none;
  background-color: bisque;
  

}
.leftArrow:hover, .rightArrow:hover{
  cursor: pointer;
}



.dotContainer{
  position: absolute;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  
  
  top:60%;
  z-index: 2;

  
}

.dot{
  height: 8px;
  width: 6px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  
}

.dot:hover{
  cursor: pointer;
}

.itemInfo{
  display: flex;
  flex-direction: column;
  font-family: pathway;
  margin-top: 60px;
  width: 400px;
  grid-column: 2/3;
  color: rgb(94, 94, 94);
  
}

.itemInfo > div{
  text-align: center;

}

.itemTitle{
  font-size: 30px;
  font-weight: 100;
}

.itemSizeContainer{
  padding-bottom: 20px;
}
.itemSizeContainer > div{
  font-size: 14px;
  padding-bottom: 10px;

}
.itemSizeSelect{
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.size{
  color: rgb(94, 94, 94);
  font-family: pathway;
  border: none;

}

.size:hover{
  cursor: pointer;
}
.selectedColor{
  font-size: 16px;
  padding-bottom: 10px;
}

.addToWish{
  font-weight: 100;
  align-self: center;
  border: none;
  padding-bottom: 20px;
}

.addToWish:hover{
  cursor: pointer;
}

.addToBag{
  background-color: rgb(185, 185, 185);
  align-self: center;
  height:40px;
  width: 180px;
  border: none;
  color: white;
}

.itemColor{
  padding-bottom: 20px;
}




.itemColorSelect{
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  justify-content: center;
}
.colorChoice{
  user-select: none;
  margin-right: 4px;
  height:20px;
  width: 20px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  
  transition: all 0.3s, transform 0.3s;
  transform: rotate(0deg);
  
  
}
.colorChoiceContainer{
  height: 20px;
  width: 20px;
}
.colorChoice:hover{
  cursor: pointer;
}

.itemPicturesContainer img {
  
  transform-origin: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.1s ease-out;
}
.itemPicturesContainer:hover img {
  cursor:crosshair;
}




  






