.nav{
  color: rgb(0, 0, 0);
  
  display: grid;
  justify-content: right;
  grid-template-columns: repeat(3, 40px);
  column-gap: 40px;
  align-items: center;

  font-size: 20px;
  font-weight: 300;

  padding-right: 40px;
}

.link{
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}
.link:visited{
  color: inherit;
}


.link:hover{
  color: rgb(225, 204, 174);
}
.home:hover, .shop:hover, .cart:hover{
  cursor: pointer;
}
.home, .shop, .cart{
  text-align: center;
}
.cartSvg {
  fill: grey;
  height: 25px;
  width: 25px;

  transform: rotate(0deg);
  transition: transform 0.5s;
}

.cartSvg:hover{
  transform: rotate(69deg)
}