.nav{
  color: rgb(0, 0, 0);
  
  display: grid;
  justify-content: right;
  grid-template-columns: 40px 40px 20px 20px;
  column-gap: 20px;
  align-items: center;

  font-size: 16px;
  font-weight: 300;

  margin-right: 40px;
  
}

@media (max-width: 420px) {
  .nav{
    column-gap: 10px;
    font-size: 14px;
  }
  
}
.link{
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}
.link:visited{
  color: inherit;
}


.link:hover{
  color: rgb(225, 204, 174);
}


.home:hover, .shop:hover{
  cursor: pointer;
}
.home, .shop{
  text-align: center;
  
}

.cart, .wishlist{
  height: 20px;
  width: 20px;
}
.cartSvg {
  
  height: 100%;
  width: 100%;

  transform: rotate(0deg);
  transition: transform 0.5s;
}

.cartSvg:hover{
  cursor: pointer;
  transform: rotate(69deg)
}