.container{
  display: flex;
  justify-content: center;
}

.shopContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px;
  
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  
 
}

.shopHeader{
  height: 60px;
  grid-column: 2/3;
}
.shopTitle{
  font-weight: 100;
}
.shopItemsContainer{
  background-color: rgb(255, 255, 255);
  grid-column: 2/3;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;

  
}



@media (max-width: 1100px) {
  .shopItemsContainer{
    grid-template-columns: repeat(2, 1fr);
    
  }
}


.shopItems{
  display: grid;
  justify-content: center;
}
.shopItemDetail{
  color: rgb(75, 75, 75);
  margin-top: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}

.shopItemColors{
  
  padding-top: 10px;
  
  
}

.colorPreview{

  margin-right: 4px;
  height:20px;
  width: 20px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

  transition: all 0.3s;
}

.colorPreview:hover{
  cursor: pointer;
  transform: scale(1.5);
  
}

.styleImg{
  
  max-height: 500px;
  max-width: 320px;
  border-radius: 10px;
  transition: all 0.3s;
}

@media (max-width: 700px) {
  .styleImg{
  
    max-height: 360px;
    max-width: 200px;
    border-radius: 10px;
    
  }

  .colorPreview{
    height:14px;
    width: 14px;
    
  }
}
.styleImg:hover{
  cursor: pointer;
  
}
.styleImgTag{
  position: relative;
  transform: translateY(-50%);
}

